.card-container {
   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
   border-radius: 4px;
   padding: 10px;
}

.card-title {
   font-size: 15px;
   font-weight: bold;
}

.card-subtitle {
   font-size: 11px;
   padding-top: 5px;
   padding-bottom: 10px;
   opacity: 0.6;
}

.card-content {
   font-size: 11px;
   opacity: 0.6;
}